 <!-- ***** Galleries section ***** -->
 <section class="galleries-section" id="galleriesSection">
  <div class="inner animated" data-animation="fadeIn" data-animation-delay="200">
      <div class="row">
          <div class="medium-6 medium-offset-3 columns">
              <div class="ws-title text-center">
                  <h1>Celebrate galleries</h1>
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
              </div>
          </div>
      </div><!-- .row -->
      <div class="row text-center">
          <ul class="list-tabs">
              <li class="active"><a href="#">All</a></li>
              <li><a href="#">2013</a></li>
              <li><a href="#">2014</a></li>
              <li><a href="#">2015</a></li>
              <li><a href="#">2016</a></li>
          </ul>
      </div><!-- .row -->
      <div class="carousel-wrapper">
          <div class="owl-carousel galeries-carousel" id="galeriesCarousel">
              <div class="item">
                  <figure class="effect-jumbo">
                      <img alt="" src="assets/img/content/thumb1.jpg">
                      <figcaption>
                          <h2>1 jul, 2015</h2>
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                          <a href="#" class="button btn-link">more</a>
                          <ul class="icons">
                              <li><a href="#"><i class="fa fa-share"></i></a></li>
                              <li><a href="#"><i class="fa fa-paperclip"></i></a></li>
                              <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          </ul>
                      </figcaption>
                  </figure>
              </div><!-- .item -->
              <div class="item">
                  <figure class="effect-jumbo">
                      <img alt="" src="assets/img/content/thumb2.jpg">
                      <figcaption>
                          <h2>2 jul, 2015</h2>
                          <p>02Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                          <a href="#" class="button btn-link">more</a>
                          <ul class="icons">
                              <li><a href="#"><i class="fa fa-share"></i></a></li>
                              <li><a href="#"><i class="fa fa-paperclip"></i></a></li>
                              <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          </ul>
                      </figcaption>
                  </figure>
              </div><!-- .item -->
              <div class="item">
                  <figure class="effect-jumbo">
                      <img alt="" src="assets/img/content/thumb3.jpg">
                      <figcaption>
                          <h2>3 jul, 2015</h2>
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                          <a href="#" class="button btn-link">more</a>
                          <ul class="icons">
                              <li><a href="#"><i class="fa fa-share"></i></a></li>
                              <li><a href="#"><i class="fa fa-paperclip"></i></a></li>
                              <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          </ul>
                      </figcaption>
                  </figure>
              </div><!-- .item -->
              <div class="item">
                  <figure class="effect-jumbo">
                      <img alt="" src="assets/img/content/thumb4.jpg">
                      <figcaption>
                          <h2>4 jul, 2015</h2>
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                          <a href="#" class="button btn-link">more</a>
                          <ul class="icons">
                              <li><a href="#"><i class="fa fa-share"></i></a></li>
                              <li><a href="#"><i class="fa fa-paperclip"></i></a></li>
                              <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          </ul>
                      </figcaption>
                  </figure>
              </div><!-- .item -->
              <div class="item">
                  <figure class="effect-jumbo">
                      <img alt="" src="assets/img/content/thumb5.jpg">
                      <figcaption>
                          <h2>5 jul, 2015</h2>
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                          <a href="#" class="button btn-link">more</a>
                          <ul class="icons">
                              <li><a href="#"><i class="fa fa-share"></i></a></li>
                              <li><a href="#"><i class="fa fa-paperclip"></i></a></li>
                              <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          </ul>
                      </figcaption>
                  </figure>
              </div><!-- .item -->
              <div class="item">
                  <figure class="effect-jumbo">
                      <img alt="" src="assets/img/content/thumb6.jpg">
                      <figcaption>
                          <h2>6 jul, 2015</h2>
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                          <a href="#" class="button btn-link">more</a>
                          <ul class="icons">
                              <li><a href="#"><i class="fa fa-share"></i></a></li>
                              <li><a href="#"><i class="fa fa-paperclip"></i></a></li>
                              <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          </ul>
                      </figcaption>
                  </figure>
              </div><!-- .item -->
              <div class="item">
                  <figure class="effect-jumbo">
                      <img alt="" src="assets/img/content/thumb7.jpg">
                      <figcaption>
                          <h2>7 jul, 2015</h2>
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                          <a href="#" class="button btn-link">more</a>
                          <ul class="icons">
                              <li><a href="#"><i class="fa fa-share"></i></a></li>
                              <li><a href="#"><i class="fa fa-paperclip"></i></a></li>
                              <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          </ul>
                      </figcaption>
                  </figure>
              </div><!-- .item -->
              <div class="item">
                  <figure class="effect-jumbo">
                      <img alt="" src="assets/img/content/thumb8.jpg">
                      <figcaption>
                          <h2>8 jul, 2015</h2>
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                          <a href="#" class="button btn-link">more</a>
                          <ul class="icons">
                              <li><a href="#"><i class="fa fa-share"></i></a></li>
                              <li><a href="#"><i class="fa fa-paperclip"></i></a></li>
                              <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          </ul>
                      </figcaption>
                  </figure>
              </div><!-- .item -->
              <div class="item">
                  <figure class="effect-jumbo">
                      <img alt="" src="assets/img/content/thumb1.jpg">
                      <figcaption>
                          <h2>9 jul, 2015</h2>
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                          <a href="#" class="button btn-link">more</a>
                          <ul class="icons">
                              <li><a href="#"><i class="fa fa-share"></i></a></li>
                              <li><a href="#"><i class="fa fa-paperclip"></i></a></li>
                              <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          </ul>
                      </figcaption>
                  </figure>
              </div><!-- .item -->
              <div class="item">
                  <figure class="effect-jumbo">
                      <img alt="" src="assets/img/content/thumb9.jpg">
                      <figcaption>
                          <h2>10 jul, 2015</h2>
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                          <a href="#" class="button btn-link">more</a>
                          <ul class="icons">
                              <li><a href="#"><i class="fa fa-share"></i></a></li>
                              <li><a href="#"><i class="fa fa-paperclip"></i></a></li>
                              <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          </ul>
                      </figcaption>
                  </figure>
              </div><!-- .item -->
              <div class="item">
                  <figure class="effect-jumbo">
                      <img alt="" src="assets/img/content/thumb10.jpg">
                      <figcaption>
                          <h2>11 jul, 2015</h2>
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                          <a href="#" class="button btn-link">more</a>
                          <ul class="icons">
                              <li><a href="#"><i class="fa fa-share"></i></a></li>
                              <li><a href="#"><i class="fa fa-paperclip"></i></a></li>
                              <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          </ul>
                      </figcaption>
                  </figure>
              </div><!-- .item -->
          </div><!-- .inner -->
      </div><!-- .carousel-wrapper -->
  </div><!-- .inner -->
</section><!-- #galleriesSection -->
