 <!-- ***** Dark line section ***** -->
 <section class="dark-line-section with-triangle" id="contactFormSection">
  <div class="inner">
      <div class="row">
          <div class="medium-6 columns">
              <div class="ws-title text-center">
                  <h1>Connect worship group</h1>
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
              </div>
              <form class="dark" id="contactForm">
                  <input type="hidden" name="contactSec" id="contactSec"/>
                  <div class="row">
                      <div class="medium-6 columns">
                          <div class="row collapse">
                              <div class="small-10 columns">
                                  <input type="text" name="contactFirstname" id="contactFirstname" placeholder="First Name">
                              </div>
                              <div class="small-2 columns">
                                  <span class="postfix"><i class="fa fa-user"></i></span>
                              </div>
                          </div>
                      </div><!-- .columns -->
                      <div class="medium-6 columns">
                          <div class="row collapse">
                              <div class="small-10 columns">
                                  <input type="text" name="contactLastname" id="contactLastname" placeholder="Last name">
                              </div>
                              <div class="small-2 columns">
                                  <span class="postfix"><i class="fa fa-user"></i></span>
                              </div>
                          </div>
                      </div><!-- .columns -->
                  </div><!-- .row -->
                  <div class="row">
                      <div class="medium-6 columns">
                          <div class="row collapse">
                              <div class="small-10 columns">
                                  <input type="text" name="contactEmail" id="contactEmail" placeholder="E-mail">
                              </div>
                              <div class="small-2 columns">
                                  <span class="postfix"><i class="fa fa-envelope"></i></span>
                              </div>
                          </div>
                      </div><!-- .columns -->
                      <div class="medium-6 columns">
                          <div class="row collapse">
                              <div class="small-10 columns">
                                  <input type="text" placeholder="Phone"  name="contactPhone" id="contactPhone">
                              </div>
                              <div class="small-2 columns">
                                  <span class="postfix"><i class="fa fa-mobile"></i></span>
                              </div>
                          </div>
                      </div><!-- .columns -->
                  </div><!-- .row -->
                  <div class="row">
                      <div class="medium-12 columns">
                          <div class="row collapse postfix-radius">
                              <div class="small-12 columns">
                                  <textarea placeholder="Message..." name="contactMessage" id="contactMessage"></textarea>
                              </div>
                          </div>
                      </div>
                  </div><!-- .row -->
                  <div class="row">
                      <div class="medium-12 columns">
                          <span class="success-message">Seccess check in</span>
                          <span class="alert-message">Alert check in</span>
                      </div>
                  </div><!-- .row -->
                  <div class="row">
                      <div class="medium-12 columns text-left">
                          <a href="#" class="button btn-send"><i class="fa fa-paper-plane"></i> Send</a>
                      </div>
                  </div><!-- .row -->
              </form>
          </div>
          <div class="medium-6 columns photo">
              <img alt="" src="assets/img/elements/young-woman.png">
          </div>
      </div><!-- .row -->
  </div>
</section>