<!-- ***** Latests section ***** -->
<section class="latests-section">
<div class="inner">
  <div class="row">
      <div class="medium-5 columns latest-news">
          <div class="ws-title left-line">
              <h1 class="title">Latest news <a href="#" class="button">All posts</a></h1>
          </div>
          <div class="news-items row">
              <div class="item clearfix">
                  <div class="medium-5 columns">
                      <img alt="" src="assets/img/content/thumb9.jpg">
                  </div>
                  <div class="medium-7 columns">
                      <h1 class="title">Pistacia church post title</h1>
                      <span class="date"><i class="fa fa-calendar"></i> on July 23, 2015</span>
                      <ul class="small-block-grid-2">
                          <li>
                              <ul class="socials">
                                  <li><a href="#" class="icon"><i class="fa fa-facebook-official"></i></a></li>
                                  <li><a href="#" class="icon"><i class="fa fa-twitter-square"></i></a></li>
                                  <li><a href="#" class="icon"><i class="fa fa-youtube-square"></i></a></li>
                                  <li><a href="#" class="icon"><i class="fa fa-pinterest-square"></i></a></li>
                                  <li><a href="#" class="icon"><i class="fa fa-skype"></i></a></li>
                              </ul>
                          </li>
                          <li>
                              <ul class="stars">
                                  <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                  <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                  <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                  <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                  <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                              </ul>
                          </li>
                      </ul>
                      <p>Donec consequat aliquam tincidunt. Aliquam pretium lacus dolor. Phasellus ipsum nunc, pretium vel eleifend vitae, tincidunt et turpis. Nam tempus turpis vitae erat molestie, ac semper dolor bibendum ....</p>
                      <a href="#" class="button">More</a>
                  </div>
              </div><!-- /.item -->
              <div class="item clearfix">
                  <div class="medium-5 columns">
                      <img alt="" src="assets/img/content/thumb12.jpg">
                  </div>
                  <div class="medium-7 columns">
                      <h1 class="title">Pistacia church post title</h1>
                      <span class="date"><i class="fa fa-calendar"></i> on July 23, 2015</span>
                      <ul class="small-block-grid-2">
                          <li>
                              <ul class="socials">
                                  <li><a href="#" class="icon"><i class="fa fa-facebook-official"></i></a></li>
                                  <li><a href="#" class="icon"><i class="fa fa-twitter-square"></i></a></li>
                                  <li><a href="#" class="icon"><i class="fa fa-youtube-square"></i></a></li>
                                  <li><a href="#" class="icon"><i class="fa fa-pinterest-square"></i></a></li>
                                  <li><a href="#" class="icon"><i class="fa fa-skype"></i></a></li>
                              </ul>
                          </li>
                          <li>
                              <ul class="stars">
                                  <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                  <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                  <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                  <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                  <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                              </ul>
                          </li>
                      </ul>
                      <p>Donec consequat aliquam tincidunt. Aliquam pretium lacus dolor. Phasellus ipsum nunc, pretium vel eleifend vitae, tincidunt et turpis. Nam tempus turpis vitae erat molestie, ac semper dolor bibendum ....</p>
                      <a href="#" class="button">More</a>
                  </div>
              </div><!-- /.item -->
          </div><!-- /.news-items -->
      </div><!-- /.latest-news -->
      <div class="medium-4 columns latest-sermons">
          <div class="ws-title left-line">
              <h1 class="title">Latest sermons <a href="#" class="button">All posts</a></h1>
          </div>
          <div class="sermons-items">
              <div class="item clearfix">
                  <div class="small-2 columns">
                      <span class="day">12</span>
                      <span class="month">July</span>
                  </div>
                  <div class="small-7 columns">
                      <h1>There was a man sent from God</h1>
                      <span class="date">Sunday | 10:00 am</span>
                      <a href="#" class="button btn-white">more details</a>
                  </div>
                  <div class="small-3 columns">
                      <ul class="icons">
                          <li><a href="#"><i class="flaticon-speaker100"></i></a></li>
                          <li><a href="#"><i class="flaticon-save"></i></a></li>
                      </ul>
                  </div>
              </div><!-- /.item -->
              <div class="item clearfix">
                  <div class="small-2 columns">
                      <span class="day">12</span>
                      <span class="month">July</span>
                  </div>
                  <div class="small-7 columns">
                      <h1>There was a man sent from God</h1>
                      <span class="date">Sunday | 10:00 am</span>
                      <a href="#" class="button btn-white">more details</a>
                  </div>
                  <div class="small-3 columns">
                      <ul class="icons">
                          <li><a href="#"><i class="flaticon-speaker100"></i></a></li>
                          <li><a href="#"><i class="flaticon-save"></i></a></li>
                      </ul>
                  </div>
              </div><!-- /.item -->
              <div class="item clearfix">
                  <div class="small-2 columns">
                      <span class="day">12</span>
                      <span class="month">July</span>
                  </div>
                  <div class="small-7 columns">
                      <h1>There was a man sent from God</h1>
                      <span class="date">Sunday | 10:00 am</span>
                      <a href="#" class="button btn-white">more details</a>
                  </div>
                  <div class="small-3 columns">
                      <ul class="icons">
                          <li><a href="#"><i class="flaticon-speaker100"></i></a></li>
                          <li><a href="#"><i class="flaticon-save"></i></a></li>
                      </ul>
                  </div>
              </div><!-- /.item -->
              <div class="item clearfix">
                  <div class="small-2 columns">
                      <span class="day">12</span>
                      <span class="month">July</span>
                  </div>
                  <div class="small-7 columns">
                      <h1>There was a man sent from God</h1>
                      <span class="date">Sunday | 10:00 am</span>
                      <a href="#" class="button btn-white">more details</a>
                  </div>
                  <div class="small-3 columns">
                      <ul class="icons">
                          <li><a href="#"><i class="flaticon-speaker100"></i></a></li>
                          <li><a href="#"><i class="flaticon-save"></i></a></li>
                      </ul>
                  </div>
              </div><!-- /.item -->
          </div><!-- /.sermons-items -->
      </div><!-- /.latest-sermons -->
      <div class="medium-3 columns most-commented">
          <div class="ws-title left-line">
              <h1 class="title">Most commented</h1>
          </div>
          <div class="most-commneted-items">
              <div class="item clearfix">
                  <img alt="" src="assets/img/content/thumb10.jpg">
                  <h1 class="title">Pistacia church post title</h1>
                  <span class="date"><i class="fa fa-calendar"></i> on July 23, 2015</span>
                  <ul class="small-block-grid-2">
                      <li>
                          <ul class="socials">
                              <li><a href="#" class="icon"><i class="fa fa-facebook-official"></i></a></li>
                              <li><a href="#" class="icon"><i class="fa fa-twitter-square"></i></a></li>
                              <li><a href="#" class="icon"><i class="fa fa-youtube-square"></i></a></li>
                              <li><a href="#" class="icon"><i class="fa fa-pinterest-square"></i></a></li>
                              <li><a href="#" class="icon"><i class="fa fa-skype"></i></a></li>
                          </ul>
                      </li>
                      <li>
                          <ul class="stars">
                              <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                              <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                              <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                              <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                              <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                          </ul>
                      </li>
                  </ul>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhmauris quam....</p>
                  <a href="#" class="button">More</a>
              </div><!-- /.item -->
          </div><!-- /.most-commented-items -->
      </div><!-- /.most-commented -->
  </div><!-- /.row -->
</div><!-- /.inner -->
</section><!-- /.latest-section -->