<!-- ***** Left off canvas ***** -->
<aside class="left-off-canvas-menu">
<div class="row">
<div class="favourites offcanvas">
    <div class="item">
        <div class="row">
            <div class="small-4 columns">
                <img alt="" src="assets/img/content/thumb28.jpg">
            </div>
            <div class="small-8 columns">
                <h1>Nam felis diam, finibus sit amet arcu eu lorem ipsu</h1>
                <ul class="stars">
                    <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                    <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                    <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                    <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                    <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                </ul>
                <a href="blog-single.html" class="btn-more">More</a>
                <a href="#" class="btn-remove">Remove</a>
            </div>
        </div>
    </div><!-- /.item -->
    <div class="item">
        <div class="row">
            <div class="small-4 columns">
                <img alt="" src="assets/img/content/thumb29.jpg">
            </div>
            <div class="small-8 columns">
                <h1>Nam felis diam, finibus sit amet arcu eu lorem ipsu</h1>
                <ul class="stars">
                    <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                    <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                    <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                    <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                    <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                </ul>
                <a href="blog-single.html" class="btn-more">More</a>
                <a href="#" class="btn-remove">Remove</a>
            </div>
        </div>
    </div><!-- /.item -->
    <div class="item">
        <div class="row">
            <div class="small-4 columns">
                <img alt="" src="assets/img/content/thumb24.jpg">
            </div>
            <div class="small-8 columns">
                <h1>Nam felis diam, finibus sit amet arcu eu lorem ipsu</h1>
                <ul class="stars">
                    <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                    <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                    <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                    <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                    <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                </ul>
                <a href="blog-single.html" class="btn-more">More</a>
                <a href="#" class="btn-remove">Remove</a>
            </div>
        </div>
    </div><!-- /.item -->
    <div class="item">
        <div class="row">
            <div class="small-4 columns">
                <img alt="" src="assets/img/content/thumb25.jpg">
            </div>
            <div class="small-8 columns">
                <h1>Nam felis diam, finibus sit amet arcu eu lorem ipsu</h1>
                <ul class="stars">
                    <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                    <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                    <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                    <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                    <li><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                </ul>
                <a href="blog-single.html" class="btn-more">More</a>
                <a href="#" class="btn-remove">Remove</a>
            </div>
        </div>
    </div><!-- /.item -->
</div>
</div>
</aside><!-- /.left-off-canvas-menu -->



<!-- ***** Right off canvas ***** -->
<aside class="right-off-canvas-menu">
<form>
<div class="row login-offcanvas">
    <div class="large-12 columns login-pic">
        <img alt="" src="assets/img/content/thumb24.jpg">
    </div>
    <div class="large-12 columns login-text">
        Nam felis diam, finibus sit amet arcu eu, fringilla posuere urna. Maecenas at ornare nibh. Pellentesque id maximus nisl, sit amet sagittis massa.
    </div>
    <div class="large-12 columns">
        <div class="row collapse">
            <div class="small-9 columns">
                <input type="text" placeholder="E-mail">
            </div>
            <div class="small-3 columns">
                <span class="postfix"><i class="fa fa-user"></i></span>
            </div>
        </div>
        <div class="row collapse">
            <div class="small-9 columns">
                <input type="password" placeholder="Password">
            </div>
            <div class="small-3 columns">
                <span class="postfix"><i class="fa fa-lock"></i></span>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <input id="checkbox1" class="checkbox" type="checkbox"><label for="checkbox1">Remember me</label>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <a href="#" class="small">Forgot password?</a>
            </div>
        </div>
        <button type="submit" class="button">Login</button>
    </div>
</div>
</form>
</aside>


<!-- ***** Header ***** -->
<header class="header" id="header">
<div class="navigation" id="navigation">
<div class="contain-to-grid">
    <div class="top-bar-small clearfix" id="topBarSmallMenu">
        <div class="row">
            <div class="medium-12 columns">
                <ul class="left">
                    <li><a href="#"><i class="flaticon-telephone46"></i> <span class="hide-for-small">(01) 800 433 633</span></a></li>
                    <li><a href="#"><i class="flaticon-mail59"></i> <span class="hide-for-small">info@pistaciatheme.com</span></a></li>
                </ul>
                <ul class="right">
                    <li><a href="#" class="left-off-canvas-toggle"><i class="flaticon-favourites7"></i> <span class="hide-for-small">Favourites</span></a></li>
                    <li><a href="page-events.html"><i class="flaticon-calendar146"></i> <span class="hide-for-small">Events</span></a></li>
                    <li><a href="shop-cart.html"><i class="flaticon-shopping232"></i><span class="counter">2</span>item</a></li>
                    <li><a href="page-login.html" class="right-off-canvas-toggle"><i class="flaticon-open3"></i> <span class="hide-for-small">Login</span></a></li>
                </ul>
            </div>
        </div>
    </div><!-- /.topBarSmallMenu -->
    <nav class="top-bar" id="topBar" data-topbar role="navigation" data-options="custom_back_text: true;back_text: Back;is_hover: true;mobile_show_parent_link: false; scrolltop : true">
        <ul class="title-area">
            <li class="name">
                <h1><a href="home1.html"><img alt="" src="assets/img/logo/logo.png"></a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
            <div class="top-bar-menu clearfix" id="topBarMenu">
                <ul class="left">
                    <li class="active has-dropdown megamenu">
                        <a href="#">Pages</a>
                        <ul class="dropdown">
                            <li>
                                <div class="mega-content row">
                                    <div class="inner">
                                        <div class="clearfix">
                                            <div class="medium-4 columns">
                                                <h3><i class="fa fa-tint"></i>Home</h3>
                                                <ul>
                                                    <li class="active"><a href="home1.html">Home</a></li>
                                                    <li><a href="home2.html">Home2</a></li>
                                                    <li><a href="home3.html">Home3</a></li>
                                                </ul>
                                                <h3><i class="fa fa-shopping-cart"></i>Shop</h3>
                                                <ul>
                                                    <li><a href="shop-cart.html">Cart</a></li>
                                                    <li><a href="shop-checkout.html">Checkout</a></li>
                                                    <li><a href="shop.html">Shop</a></li>
                                                    <li><a href="shop-pruduct.html">Product details</a></li>
                                                </ul>
                                            </div>
                                            <div class="medium-4 columns">
                                                <h3><i class="fa fa-leaf"></i>Pages</h3>
                                                <ul>
                                                    <li><a href="page-about.html">About</a></li>
                                                    <li><a href="page-sermons.html">Sermons</a></li>
                                                    <li><a href="page-contact.html">Contact</a></li>
                                                    <li><a href="page-events.html">Events</a></li>
                                                    <li><a href="page-login.html">Login</a></li>
                                                    <li><a href="page-404.html">Page 404</a></li>
                                                </ul>
                                                <h3><i class="fa fa-check"></i>Blogs</h3>
                                                <ul>
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="blog-single.html">Blog single</a></li>
                                                </ul>
                                            </div>
                                            <div class="medium-4 columns">
                                                <h3><i class="fa fa-photo"></i>Gallery</h3>
                                                <ul>
                                                    <li><a href="gallery-four.html">Gallery 4 columns</a></li>
                                                    <li><a href="gallery-three.html">Gallery 3 columns</a></li>
                                                    <li><a href="gallery-two.html">Gallery 2 columns</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">Gallery</a>
                        <ul class="dropdown">
                            <li><a href="gallery-four.html">4 columns</a></li>
                            <li><a href="gallery-three.html">3 columns</a></li>
                            <li><a href="gallery-two.html">2 columns</a></li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">Blog</a>
                        <ul class="dropdown">
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-single.html">Blog single</a></li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">Shop</a>
                        <ul class="dropdown">
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="shop-pruduct.html">Product details</a></li>
                            <li><a href="shop-cart.html">Cart</a></li>
                            <li><a href="shop-checkout.html">Checkout</a></li>
                        </ul>
                    </li>
                    <li><a href="page-sermons.html">Sermons</a></li>
                    <li><a href="page-contact.html">Contact</a></li>
                    <li class="mobile-search">
                        <div class="row">
                            <div class="small-12 columns">
                                <form>
                                    <div class="row collapse">
                                        <div class="small-10 columns">
                                            <input type="text" placeholder="Search...">
                                        </div>
                                        <div class="small-2 columns">
                                            <a href="#" class="button expand">
                                                <i class="fa fa-search"></i>
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="desktop-search">
                        <a class="btn-ps-modal" data-ps-modal-id="#searchModal">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                </ul>
            </div><!-- /.topBarMenu -->
        </section><!-- /.top-bar-section -->
    </nav><!-- /nav -->
</div><!-- /.fixed -->
</div><!-- /#navigation -->
</header><!-- /#header -->