 <!-- ***** Partners section ***** -->
 <section class="partners-section">
  <div class="inner">
      <div class="row">
          <div class="medium-12 columns">
              <div class="ws-title left-line">
                  <h1 class="title">My partners</h1>
              </div>
              <div class="carousel-wrapper">
                  <div class="owl-carousel logo-carousel">
                      <div class="item">
                          <img alt="" src="assets/img/content/low19.png">
                      </div><!-- .item -->
                      <div class="item">
                          <img alt="" src="assets/img/content/low20.png">
                      </div><!-- .item -->
                      <div class="item">
                          <img alt="" src="assets/img/content/low21.png">
                      </div><!-- .item -->
                      <div class="item">
                          <img alt="" src="assets/img/content/low22.png">
                      </div><!-- .item -->
                      <div class="item">
                          <img alt="" src="assets/img/content/low23.png">
                      </div><!-- .item -->
                      <div class="item">
                          <img alt="" src="assets/img/content/low24.png">
                      </div><!-- .item -->
                      <div class="item">
                          <img alt="" src="assets/img/content/low25.png">
                      </div><!-- .item -->
                      <div class="item">
                          <img alt="" src="assets/img/content/low27.png">
                      </div><!-- .item -->
                  </div><!-- .owl-carousel -->
              </div><!-- .carousel-wrapper -->
          </div><!-- .medium-12 -->
      </div><!-- .row -->
  </div><!-- .inner -->
</section><!-- .partners -->
