 <!-- ***** Testimonial section ***** -->
 <section class="testimonial-section" id="pastorQuotes">
  <div class="inner">
      <div class="row">
          <div class="flexslider flexslider-testimonial">
              <ul class="slides">
                  <li class="item">
                      <div class="table">
                          <div class="text-center title">
                              <h1>"My heart rejoices in the Lord in <span>the Lord my horn</span> is lifted high."</h1>
                              <span>Joseph Walker / singer</span>
                          </div>
                      </div><!-- .table -->
                      <img alt="" src="assets/img/content/thumb19.jpg">
                  </li><!-- .item -->
                  <li class="item">
                      <div class="table">
                          <div class="text-center title">
                              <h1>"By the time Lot reached Zoar, <span>the sun had</span> risen over the land"</h1>
                              <span>John Lorem / pastor</span>
                          </div>
                      </div><!-- .table -->
                      <img alt="" src="assets/img/content/thumb28.jpg">
                  </li><!-- .item -->
                  <li class="item">
                      <div class="table">
                          <div class="text-center title">
                              <h1>"There has not risen anyone greater than <span>John the Baptist</span>"</h1>
                              <span>Johny Walker / pastor</span>
                          </div>
                      </div><!-- .table -->
                      <img alt="" src="assets/img/content/thumb29.jpg">
                  </li><!-- .item -->
              </ul><!-- .slides -->
          </div><!-- .flexslider-testimonial -->
      </div><!-- .row -->
  </div><!-- .inner -->
</section><!-- .testimonial-section -->