<!-- ***** Testimony section ***** -->
<section class="testimony-section" id="testimonySection">
  <div class="inner animated" data-animation="fadeIn" data-animation-delay="0">
      <div class="row">
          <div class="carousel-wrapper">
              <div class="owl-carousel testimony-carousel" id="testimonyCarousel">
                  <div class="item quote-wrapper">
                      <blockquote class="quote-content">
                          <div class="quote-text">For I know the plans I have for you, declares the LORD, plans for welfare and not for evil, to give you a future and a hope...</div>
                          <span class="author">Jeremiah 29:11</span>
                          <span class="quote-decor"><i class="fa fa-quote-right"></i></span>
                      </blockquote>
                      <div class="clearfix">
                          <div class="photo">
                              <img alt="" src="assets/img/content/thumb30.jpg">
                          </div>
                          <div class="people">
                              <div class="name">Medhros Amarmiel</div>
                              <div class="years">23 years</div>
                              <a href="#" class="button">more</a>
                          </div>
                      </div>
                  </div><!-- .item -->
                  <div class="item quote-wrapper">
                      <blockquote class="quote-content">
                          <div class="quote-text">For I know the plans I have for you, declares the LORD, plans for welfare and not for evil, to give you a future and a hope...</div>
                          <span class="author">Jeremiah 29:11</span>
                          <span class="quote-decor"><i class="fa fa-quote-right"></i></span>
                      </blockquote>
                      <div class="clearfix">
                          <div class="photo">
                              <img alt="" src="assets/img/content/thumb20.jpg">
                          </div>
                          <div class="people">
                              <div class="name">Medhros Amarmiel</div>
                              <div class="years">23 years</div>
                              <a href="#" class="button">more</a>
                          </div>
                      </div>
                  </div><!-- .item -->
                  <div class="item quote-wrapper">
                      <blockquote class="quote-content">
                          <div class="quote-text">For I know the plans I have for you, declares the LORD, plans for welfare and not for evil, to give you a future and a hope...</div>
                          <span class="author">Jeremiah 29:11</span>
                          <span class="quote-decor"><i class="fa fa-quote-right"></i></span>
                      </blockquote>
                      <div class="clearfix">
                          <div class="photo">
                              <img alt="" src="assets/img/content/thumb21.jpg">
                          </div>
                          <div class="people">
                              <div class="name">Medhros Amarmiel</div>
                              <div class="years">23 years</div>
                              <a href="#" class="button">more</a>
                          </div>
                      </div>
                  </div><!-- .item -->
                  <div class="item quote-wrapper">
                      <blockquote class="quote-content">
                          <div class="quote-text">For I know the plans I have for you, declares the LORD, plans for welfare and not for evil, to give you a future and a hope...</div>
                          <span class="author">Jeremiah 29:11</span>
                          <span class="quote-decor"><i class="fa fa-quote-right"></i></span>
                      </blockquote>
                      <div class="clearfix">
                          <div class="photo">
                              <img alt="" src="assets/img/content/thumb25.jpg">
                          </div>
                          <div class="people">
                              <div class="name">Medhros Amarmiel</div>
                              <div class="years">23 years</div>
                              <a href="#" class="button">more</a>
                          </div>
                      </div>
                  </div><!-- .item -->
              </div><!-- .owl-carousel -->
          </div><!-- .carousel-wrapper -->
      </div><!-- .row -->
  </div><!-- .inner -->
</section><!-- .testimony-section -->
