<!-- ***** Parallax section ***** -->
<section class="parallax-section" id="subscribeNewsletter">
  <div class="inner animated" data-animation="fadeIn" data-animation-delay="0">
      <div class="row">
          <div class="medium-8 medium-offset-2 columns text-center">
              <h1>Newsletter subscribe</h1>
              <p>Nullam sit amet luctus ante, non faucibus massa. In euismod aliquam interdum. Maecenas varius aliquam arcu et convallis. Vivamus luctus in erat quis elementum. Vestibulum eleifend, lacus a blandit tincidunt, nunc libero facilisis nisl, vitae dignissim eros lectus eu neque.</p>
              <form>
                  <div class="row">
                      <div class="large-12 columns">
                          <div class="row collapse">
                              <div class="small-9 columns">
                                  <input type="text" placeholder="info@domain.me">
                              </div>
                              <div class="small-3 columns">
                                  <a href="#" class="button postfix"><i class="fa fa-paper-plane"></i> <span class="hidden-for-small-only">Subscribe</span></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </form>
          </div><!-- .columns -->
      </div><!-- .row -->
  </div><!-- .inner -->
</section><!-- .parallax-section -->