 <!-- ***** Dark line section ***** -->
 <section class="dark-line-section with-triangle">
  <div class="inner animated" data-animation="fadeIn" data-animation-delay="0">
      <div class="row">
          <div class="small-12 columns">
              <div class="ws-title text-center">
                  <h1>Archivement</h1>
              </div><!-- .ws-title -->
              <div class="row">
                  <div class="medium-6 medium-offset-3 columns">
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
                  </div>
              </div><!-- .row -->
              <div class="row blocks counter-numbers">
                  <div class="medium-3 columns">
                      <i class="flaticon-saxophone6"></i>
                      <h2 class="counter">1,234,567.00</h2>
                      <p>HTML5 church template for religions</p>
                  </div>
                  <div class="medium-3 columns">
                      <i class="flaticon-instrument7"></i>
                      <h2 class="counter">1,234,567.00</h2>
                      <p>Church.pistaciatheme.com Church and religion template</p>
                  </div>
                  <div class="medium-3 columns">
                      <i class="flaticon-heart258"></i>
                      <h2 class="counter">1,234,567.00</h2>
                      <p>Lorem ipsum dolor sit amet, Church template sadipscing elitr</p>
                  </div>
                  <div class="medium-3 columns">
                      <i class="flaticon-familiar17"></i>
                      <h2 class="counter">1,234,567.00</h2>
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                  </div>
              </div><!-- .blocks -->
          </div><!-- .columns -->
      </div><!-- .row -->
  </div><!-- .inner -->
</section><!-- .dark-line-section -->