<footer class="footer-section" id="footerSection">
  <div class="content">
      <div class="inner">
          <div class="row">
              <div class="large-3 columns">
                  <img alt="" src="assets/img/elements/cross.png">
              </div><!-- /.columns -->
              <div class="large-3 columns info-box">

                  <h1>About Pistacia Church</h1>
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>

                  <h1>Our church on Twitter</h1>
                  <ul class="twitter-roll">
                      <li><i class="fa fa-twitter-square"></i> <a href="#">@pistaciachurch</a> stet clita kasd gubergren, no sea takimata July. 18, 2015 nulla convallis egestas rhmauris quam</li>
                      <li><i class="fa fa-twitter-square"></i> <a href="#">@pistaciachurch</a> consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam July. 18, 2015 Nulla convallis egestas rhmauris quam</li>
                  </ul>

              </div><!-- /.columns -->
              <div class="large-3 columns blogroll-box">
                  <h1>Blogroll</h1>
                  <ul class="list-arrow">
                      <li><a href="#">irem ipsum dolor sit</a></li>
                      <li><a href="#">amet consetetur</a></li>
                      <li><a href="#">elitr sed diam nonumy</a></li>
                      <li><a href="#">eirmod tempor invidunt</a></li>
                      <li><a href="#">ut labore et dolore</a></li>
                      <li><a href="#">orem ipsum dolor sit</a></li>
                      <li><a href="#">amet consetetur</a></li>
                      <li><a href="#">irem ipsum dolor sit</a></li>
                  </ul>
              </div><!-- /.columns -->
              <div class="large-3 columns contact-box">
                  <img alt="" src="assets/img/logo/logo-white.png">
                  <ul class="contact">
                      <li>753 A 4th St, NY, USA</li>
                      <li>+5 432-234-1234</li>
                      <li>me@medomain.com</li>
                  </ul>
                  <div class="text-center">
                      <a href="#" class="button btn-dark">Contact us</a>
                  </div>
                  <ul class="socials">
                      <li><a href="#" class="icon"><i class="fa fa-facebook-official"></i></a></li>
                      <li><a href="#" class="icon"><i class="fa fa-twitter-square"></i></a></li>
                      <li><a href="#" class="icon"><i class="fa fa-youtube-square"></i></a></li>
                      <li><a href="#" class="icon"><i class="fa fa-pinterest-square"></i></a></li>
                      <li><a href="#" class="icon"><i class="fa fa-skype"></i></a></li>
                  </ul>
              </div><!-- /.columns -->
          </div><!-- /.row -->
      </div><!-- /.inner -->
  </div><!-- /.content -->
  <div class="copyright">
      <div class="inner">
          <div class="row">
              <div class="medium-10 columns">
                  Hope - Church Responsive HTML5 Template by <a href="http://themeforest.net/item/pistacia-chef-food-html5-template/10800108">Pistaciatheme</a>
              </div>
              <div class="medium-2 columns">
                  <a href="pageTop" class="scroll-to"><i class="fa fa-angle-up"></i>Page top</a>
              </div>
          </div>
      </div>
  </div>
  <div class="fixed-wrapper">
      <div class="row">
          <div class="medium-2 large-2 large-push-4 columns">
              <img alt="" src="assets/img/content/thumb22.jpg">
          </div>
          <div class="medium-10 large-4 large-pull-2 columns">
              <div class="thanx-box">
                  <h1>Thank You</h1>
                  <h2>for visiting</h2>
                  <p><span class="strong">Contact me</span> accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum</p>
              </div>
          </div>
      </div>
  </div>
</footer><!-- #footerSection -->
